*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.box1{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: #ffffff;
    
}



.box6{
    display: flex;
    width: 100%;
    height: 4vh;
    background-color: #5C5C5C;
}

.box7{
    display: flex;
    width: 100%;
    height: 11vh;
    background-color: #2C2B2B;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 5vw;
    height: 7.3vh;
    margin-left: 10px;
    margin-top: 5px;
}

#line1{
    display: flex;
    width: none;
    height: 8vh;
    border: 1px solid #3C3C3C;
    margin-left: 15px;
}

.button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: inherit;  
    margin-top: 3vh;
}

.line2{
    display: flex;
    width: 70vw;
    height: 8vh;
   
   

}

.icon{
    display: flex;

}

.iconp{
    width: 2vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
}

.text{
    margin-top: 0.8vh;
}

.iconc{ 
    width: 2vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5vw;
}

.sep{
    width: 100%;
    height: none;
    border: 1px solid rgb(0, 0, 0);
}


.icon2 img{
    width: 5vw;
    height: 7.3vh;
}
/*essa parte é a mesmo da ota*/
.backgrond{
    background-color: #746e6e;
        width: 100%;
        height: 140vw;
        display: flex;
          justify-content: center;
       



}
.quadros{

    background-color: #6b6464;
       width:95%;
       height: 20vw;
       border-radius: 40px;
       display: flex;
       justify-content:left;
       justify-content: space-around;
     align-items: center;
       flex-direction: center;
}
 
.carro1{
       background-color: #eb0a0a;
        width:25vh;
        height: 15vw;
        border-radius: 40px;
   

   }
.carro2{
     background-color: #fdfdfd;
        width:25vh;
        height: 15vw;
        border-radius: 40px;
       


}
.carro3{
  background-color: #ff00d4;
        width:25vh;
        height: 15vw;
        border-radius: 40px;
}
.carro4{
    background-color: #00ccff;
        width:25vh;
        height: 15vw;
        border-radius: 40px;

}
.carro5{
     background-color: #5700f8;
        width:25vh;
        height: 15vw;
        border-radius: 40px;


}
.carro6{
    background-color: #258b0c;
        width:25vh;
        height: 15vw;
        border-radius: 40px;
}


